/* src/components/css/BoardCard.css */

.board-card-link {
  text-decoration: none;
  color: inherit;
}

.board-card-wrapper {
  width: 280px; /* 카드의 고정 너비 */
  min-height: 250px; /* 최소 높이 설정 */
  overflow: visible; /* 내용이 넘치지 않도록 설정 */
}

.board-card {
  background-color: #f5f5ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  width: 240px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.board-card:hover {
  transform: scale(1.05);
  border: 2px solid #3333ff;
}

.board-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.board-card .card-footer {
  color: #333;
}

.board-card p {
  display: -webkit-box;
  display: box; /* 표준 속성 추가 */
  -webkit-line-clamp: 3; /* 원하는 줄 수 */
  line-clamp: 3; /* 표준 속성 추가 */
  -webkit-box-orient: vertical;
  box-orient: vertical; /* 표준 속성 추가 */
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
