/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 흐리게 */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  font-family: "D2coding", "Roboto", sans-serif;
  background-color: #8216a0;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  border: solid 3px rgb(190, 16, 16);
}

.result-text {
  text-align: left;
  margin: 0 0 0 45px;
  font-size: 20px;
  font-weight: bold;
}

.label {
  color: #ffffff;
}

.value {
  color: #ffd700;
  font-weight: normal;
}

.result-button {
  background-color: #c1a5ca;
  color: rgb(81, 5, 116);
  border: solid rgb(81, 5, 116) 2.5px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px 0px 10px;
}
