.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #202231;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.header-logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.header-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}


.header a:hover {
  color: #cccccc;
}

.header-user a {

  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.header-user a:hover {
  color: #cccccc;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.header-profile span {
  font-size: 16px;
  color: #ffffff;
}

.header-profile button {
  background: none;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 0 5px;
  text-decoration: underline;
}


/* 드롭다운 기본 스타일 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block; /* 부모가 hover되면 표시 */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.header-profile button:hover {
  color: #cccccc;

}
.logout-button {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e60000;
}

.logout-button:active {
  background-color: #cc0000;
}
