/* src/components/css/Pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination span,
.pagination button {
  font-size: 0.9em;
  color: #fff;
  background: none; /* 배경색 제거 */
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.pagination span:hover,
.pagination button:hover {
  color: #007bff; /* hover 시 색상 변화 */
}

.pagination span.active {
  color: #007bff; /* 현재 페이지 강조 */
  text-decoration: underline; /* 현재 페이지 밑줄 추가 */
}

.pagination button:disabled {
  color: #aaa;
  cursor: not-allowed;
}
