/* src/components/css/SubmitButton.css */
.submit-button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #210b9b !important;
}
