/* src/components/css/TypingGameRank.css */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

.typing-ranking {
  padding: 20px;
  background-color: #282c34;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.ranking-title {
  font-family: "Tourney", sans-serif;
  margin-bottom: 20px; /* 헤더와 내용 간격  */
  color: #f1c40f;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking-title svg {
  width: 3rem; /* PiRankingBold 크기 */
  height: 3rem;
}

.current-user-info {
  font-weight: bold;
  margin-bottom: 20px; /* 내용과 리스트 간격 */
  text-align: center;
  color: #f1c40f;
}

.ranking-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

.ranking-list li {
  padding: 12px 20px;
  border-bottom: 1px solid #3a3f47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.ranking-list li.highlight {
  background-color: #f1c40f; /* 하이라이트 배경색 */
  color: #282c34; /* 하이라이트 텍스트색 */
  border-radius: 4px;
}

.ranking-list li:last-child {
  border-bottom: none; /* 마지막 항목의 구분선 제거 */
}

.ranking-list .rank {
  flex: 1;
  text-align: left;
}

.ranking-list .name {
  flex: 2;
  text-align: center;
}

.ranking-list .score {
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  .typing-ranking {
    max-width: 90%;
  }

  .ranking-list li {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .ranking-list .rank,
  .ranking-list .name,
  .ranking-list .score {
    flex: none;
    text-align: left;
    width: 100%;
  }

  .ranking-title {
    font-size: 2.5rem; /* 작은 화면에서 폰트 크기 */
  }

  .ranking-title svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .current-user-info {
    font-size: 1rem;
  }

  .ranking-list li {
    font-size: 1rem;
  }
}
