.main-container {
  background-color: #202231;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;

}

.card-link {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상을 따름 */
  display: block; /* 링크가 카드 전체를 감싸도록 설정 */
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item img {
  width: 100%;
  height: 350px;
  object-fit: cover; /* 이미지가 슬라이더에 꽉 차게 */
  border-radius: 8px;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 25%); /* 2x2 그리드 */
  gap: 30px;
  justify-content: center; /* 그리드 가운데 정렬 */
}

.card {
  background-color: #282a36;
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}
.card:hover {
  transform: scale(1.05); /* 호버 시 확대 효과 */
}

.card p {
  font-size: 14px;
  margin: 0;
}
