/* Login.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #202231;
}

.login-container {
  font-family: "D2coding", sans-serif;
  display: flex;
  flex-direction: column; /* 수직 정렬*/
  justify-content: center;
  align-items: center;
  /* height: 80vh; 전체 화면의 높이 */
  margin-bottom: 70px;
}

form {
  width: 500px;
  padding: 50px;
  background-color: #55555d;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  color: #333;
  background-color: #efeeee;
  border: none;
  border-radius: 10px;
}

.links {
  margin-top: 40px;
  font-size: 0.9em;
}

.links a {
  color: #cccccc;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.login-button {
  margin-top: 100px;
  width: 50%;
  padding: 10px;
  font-size: 1em;
  color: #ffffff;
  background-color: #8216a0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #30137a;
}
