/* Profile.css */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 20px;
    width: 100%;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    gap: 10px; /* 이미지와 아이디 간 간격 */
  }
  
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-id {
    font-size: 24px;
    font-weight: bold;
    color: #cacaca;
  }
  
  .info-sections {
    display: flex;
    justify-content: space-evenly; /* 섹션들을 창 너비에 맞게 균등 배치 */
    width: 100%;
    max-width: 600px; /* 최대 너비 설정 */
    margin-top: 20px;
  }
  
  .badges-section,
  .stack-section {
    flex: 1;
    text-align: center;
  }
  
  .badges-section h3,
  .stack-section h3 {
    font-size: 16px;
    color: #a0a0a0;
    margin-bottom: 10px;
  }
  
  .badges {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4caf50; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .edit-button {
    padding: 8px 12px;
    font-size: 11px;
    font-weight: bold; /* 글자 굵기 */
    cursor: pointer;
    background-color: #FA3BE4; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  
  .badge {
    font-size: 24px;
    color: #5a5a5a;
  }
  
  .stack-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  .skill-image {
    width: 30px; 
    height: 30px; 
    object-fit: contain; 
  }
  
  .stack-icon {
    width: 40px;
    height: 40px;
  }
  
  .contributions {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    width: 100%;
    max-width: 800px; /* 최대 너비 설정 */
    margin-top: 30px;
}

.contribution-chart {
    max-width: 1000px; /* 이미지의 최대 너비 */
    margin-top: 10px;
}

  .contributions h3 {
    font-size: 16px;
    color: #a0a0a0;
    text-align: center;
    margin-bottom: 10px;
  }
  